@CHARSET "EUC-KR";

html, body{
	height: 100%;
	min-height: 400px;
}

.team02-body{
	width: 100%;
	height: 100%;
	padding-bottom: -48px
}

.team2-header {
	width: 100%;
	height: 48px;
	background-color:#383838;
	z-index: 100;
}

.train-ticketing-name{
	text-align: center;
	color: white;
	font-size: x-large;
	padding-top: 10px;
	margin-bottom: -45px;
	z-index: 20;
}

.material-icons{
	cursor: pointer;
}

/* 모든 page의 헤더는 team2-header로 만들고 거기의 모든 material-icons에 적용 되는 스타일 */
.team2-header .material-icons{
	color : white;
	top: 50%;
	left: 50%;
	transform: translate(50%, 50%)
}


.team02-footer{
	width: 100%;
	margin-top:-48px;
	height: 48px;
	background-color:#383838;
	z-index: 100;
}