.bottom-buttons {
	position: relative;
	left:5%;
}

@media(max-height: 530px) {
	.member-info {
		position: absolute;
	}
}

.hidden-view {
	position: relative;
	display: none;
}

.member-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
}
