.bottom-buttons {
	position: relative;
	left:20%;
}

@media(max-height: 530px) {
	.member-info-detail {
		position: absolute;
	}
}

.member-info-detail {
	position: relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
}