html, body {
	height: 100%;
	min-height: 400px;
}

.main-container {
	height: 100%;
}

.main-top {
	position: absolute;
	width: 100%;
	height: 48px;
	background-color:#383838;
	z-index: 1000;
}

.main-top-body {
	position: relative;
	width: 80%;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
}

.main-top-body>div {
	position: absolute;
	display: inline-block;
	height: 100%;
	top: 0px;
}

.main-name {
	text-align: center;
	color: white;
	font-size: x-large;
	width: 40%;
	left: 0px;
	padding-top: 10px;
}

.main-menu {
	width: 50%;
	right: 0px;
}

.main-menu ul {
}

.main-menu ul li {
	cursor: pointer;
	font-size: medium;
	color: white;
	display: inline-block;
	padding-left: 30px;
	padding-top: 25px;
}

.main-content {

}

.main-bottom {
	position: relative;
	text-align: center;
	color: black;
	font-size: small;
}

.login-dialog {
	display:none;
}