.member-box {
	display: inline-block;
	width: 100px;
	border: 1px solid #999;
}

.member-box-center {
	text-align: center;
}

.member-name {

}

.member-memberId{

}

.member-email {

}

.member-paging {
	margin-top: 10px;
	text-align: center;
}

.member-paging-number {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	width: 40px;
	cursor: pointer;
}

.member-paging-number.current-page {
	background-color: blue;
	color: white;
}