html, body {
	position: relative;
	height: 100%;
	min-height: 510px;
}

.table {
	border: 1px solid #999;
}

.header-cell-width {
	width: 80px;
	text-align: center;
}

.member-cell-width {
	width: 200px;
	text-align: center;
}

.member-box-center {
	text-align: center;
}

.member-box-right {
	text-align: right;
}

.member-paging {
	margin-top: 10px;
	text-align: center;
}

.member-paging-number {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	width: 40px;
	cursor: pointer;
}

.member-paging-number.current-page {
	background-color: blue;
	color: white;
}