@CHARSET "UTF-8";

.ticketingContainer{
	position: relative;
}

.btnGroupTicketing{
	margin-top: 100px;
}


.reserveContainer{
	display:none;
	position: relative;
	margin-top: 100px;
}
.input-group-addon{
    display: table-cell;
    padding: 4px 12px;
}

.team2-back-button{
	float: right;
	margin-right: 25px;
	display: none;
}

.team2-next-button{
	display: none;
}

#trainStationsTable{
	position:relative;
	display: none;
	text-align: center;
}


#trainStationsTable td{
	cursor: pointer;
}
#departureOrarrival{
	text-align: center;
	margin-bottom: 15px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 120%
}
.closeIcon{
	width: 30px;
	margin-left: 94%;
	margin-top: -30px;
}
#hidden-view {
	position: relative;
	display: none;
}
#pagingBar{
	margin-top: 20px;
    margin-bottom: -20px;
	position:relative;
	display: inline-block;
}
.pageNumber {
	width: 20px;
	float: left;
	font-size: 120%;
}
.pageNumber.selectable:hover {
	color: blue;
	font-weight: bold;
	cursor: pointer;
}



.citiesTable, .stationsTable{
	display: inline-block;
}

.cityCell, .stationCell{
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	display: inline-block;
	font-size: 110%;
	cursor: pointer;
}
.cityCell:hover, .stationCell:hover{
	color: blue;
	font-weight: bold;
}
.reserveBtnContainer{
	position: relative;
	margin-left: 40%;
}
.reserveContainer.reserve{
	display: inline-block;
}