@CHARSET "UTF-8";

.ticketingContainer{
	position: relative;
}

.btnGroupTicketing{
	margin-top: 100px;
}


.reserveContainer{
	display:none;
	position: relative;
	margin-top: 100px;
}
.input-group-addon{
    display: table-cell;
    padding: 4px 12px;
}

.team2-back-button{
	float: right;
	margin-right: 25px;
}

.team2-next-button{
	display: none;
}