@CHARSET "UTF-8";





.ticketingContainer{
	position: relative;
}

.btnGroupTicketing{
	margin-top: 100px;
}


.reserveContainer{
	display:none;
	position: relative;
	margin-top: 100px;
}